html{
    overflow-x:hidden;
}
*{
    box-sizing:border-box;
}
header{
    width: 100%;
    background:#af9559;
}
.header-street ul,
.header-purchase ul{
    list-style:none;
}
.header-street ul li,
.header-purchase ul li{
    display:inline-block;
    margin:0 2.5px;
    color:#fff;
}
.header-purchase ul{
    padding-left: 30px;
}
.header-street ul li > a{color:#fff;}
.header-street ul li:first-child > a{
    border-bottom: 1px dashed #fff;
}
.header-street ul li:last-child > a{
    border-bottom:1px solid #fff;
}
.header-street ul li > a:hover,
.header-street ul li > a:active,
.header-street ul li > a:focus,
.header-purchase ul li > a:hover,
.header-purchase ul li > a:active,
.header-purchase ul li > a:focus{
    text-decoration:none;
}
.header-phone p                           { color:#fff; }
.header-purchase ul li > a                { color:#fff;border-bottom:1px solid #fff; }
.header-purchase ul li:nth-of-type(4) > a { border-bottom:1px dashed #fff; }
.header-purchase ul li:last-child > a     { border-bottom:none; }
.elem-icon{
    font-size: 20px;
    vertical-align: middle;
}
.header-street, .header-phone{ margin-top:10px; }
.header-purchase             { margin-top: 5px; }
.logo p {
    padding:0;
    margin:0;
}
.logo p:first-child{
    font-family: 'presentscript-cyrillic';
    color:#ff0000;
    font-size:32px;
    margin:0 0 0 40px;
}
.logo p:last-child{
    text-align:center;
    color:#777;
    font-family: 'Roboto-Light';
    font-size:16px;
}
.search
{
    margin-top:25px;
    position:relative;
}
.search input[type="search"]{
    width: 100%;
    outline: 0;
    border: 1px solid #919191;
    padding: 10px 25px 10px 10px;
    color: #919191;
}
.elem-search{
    font-size: 24px;
    cursor: pointer;
    color: #919191;
    vertical-align: middle;
    position: absolute;
    top: 5px;
    right: 15px;
}
.element-basket{
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    outline: 0;
    border: 1px solid #919191;
    background: #f1f1f1;
}
.basket{
    margin-top:25px;
}
.element-cart{
    font-size:20px;
    color: #919191;
    margin-right: 10px;
}
.element-basket .item{
    color:#fff;
    margin-left:10px;
    padding:5px 10px;
    background:#af9559;
    border-radius:15px;
}
.navigation
{
    margin: 30px 0;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}
.menu{
    list-style: none;
    position:relative;
}
.menu > li{
    float:left;
    padding:10px 20px;
}
.menu .active > a{
    color:#c1a25a;
    font-weight:bold;
}

.menu > li:hover{
    background:#ff2d2d;
    border-radius:20px;
}
.last-menu li.activi > a,
.last-menu > li.activi,
.menu li.active > a:hover,
.menu li:hover > a,
.last-menu > li:hover
{
    color:#fff;
}
.menu li > a:hover,
.menu li > a:focus
{
    text-decoration:none;
}
.menu li > a{
    color:#503737;
    text-decoration:none;
    font-size:17px;
}

.submenu{
    list-style:none;
    background:rgba(0,0,0, 0.8);
    position:absolute;
    z-index:17;
    margin-top:18px;
    height:460px;
    width:19%;
    padding:0;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
}

.submenu li:hover > .last-menu,
.last-menu li:hover > .indicate-product,
.menu li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}


.submenu > li{
    padding:10px;
}
.submenu >li.activ,
.submenu > li:hover{
    border-left:3px solid #8c7747;
    background:#af9559;
    margin-left: -3px;
}
.submenu li > a{
    color:#fff;
    transition: .3s linear;
    display:block;
}
.last-menu{
    position: absolute;
    display: block;
    margin-left: 95%;
    background: #af9559;
    top: 0;
    width: 100%;
    height: 460px;
    padding:0 30px;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
}
.last-menu > li{
    padding:10px;
    list-style: disc;
}
.last-menu > li,
.last-menu li > a{
    color: rgba(253, 253, 253, 0.8);
}
.last-menu > li.activi{

}
.indicate-product{
    position: absolute;
    margin-left: 81%;
    background: #af9559;
    top: 0;
    border-left: 1px solid #8c7747;
    width: 100%;
    height: 460px;
    padding: 0 10px;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
}
.indicate-product--img{
    width: 100px;
    height: 290px;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}
.indicate-product > p{
    color: #444;
}
.indicate-product > p:nth-of-type(1){
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
}
.indicate-product--price{
    background:#fff;
}
.indicate-product--price > p{
    color:#e73939;
    font-weight:bold;
    font-size:18px;
    text-align:center;
}
.indicate-product--price > p:after{
    content: '\20BD';
    margin-left:10px;
    font-weight:normal;
}
.indicate-product--price p > span{
    color: #777;
    text-decoration: line-through;
    padding: 0 10px;
    font-size: 14px;
    font-weight: normal;
}
/*=====================tabs======================*/
.tab{display:none;}
.tab .active{display:block;}
.tabs
{
    margin:20px auto;
    width:301px;
    height:50px;
    text-align:center;
    background:#503737;
    border-radius:30px;
}
ul.tabs-caption{
    list-style:none;
    margin:0;
    padding:0;
}
ul.tabs-caption li{
    float:left;
    padding:10px 10px;
    font-size:16px;
    line-height:30px;
    cursor:pointer;
    border-radius:30px;
}
ul.tabs-caption li > a{
    color:#fff;
    text-decoration:none;
}
ul.tabs-caption li.active{
    background:#ff2d2d;
}
.closeout-tools{
transition: all linear 0.5s;
}
.closeout-tools--elem p{
    color:#444444;
    line-height:20px;
    text-align:center;
    padding:0 20px;
    height:50px;
}
.closeout-tools--elem p:first-child{
    font-size:16px;
    text-decoration:underline;
    text-align:center;
    margin-top:25px;
}
.closeout-tools--elem p:last-child{
    font-size:12px;
}
.closeout-tools--price p{
    font-size:18px;
    color:#e73939;
    line-height:30px;
    text-align:center;
    padding:0 20px;
}
.closeout-tools--price p >span{
    font-size:12px;
    color:#777777;
    text-decoration:line-through;
    padding-right:10px;
}
.service-elem > p
{
    font-size:12px;
    line-height:20px;
    color:#444444;
    clear:both;
}
.service-title{
    width:210px;
}
.service-title img{
    float:left;
    width: 66px;
    height:70px;
    object-fit:contain;
    margin-right:20px;
}
.service-title p{
    text-decoration:underline;
    color:#d8424b;
    font-size:18px;
    line-height:25px;
}

/*=============== Carousel base class ==========================*/
.section-carousel{
    border-top:2px solid #ef383f;
}
.carousel {
  height: 460px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 460px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
/*================ slick======================*/
   .brend {
        width: 100%;
    }

    .brend img {
      width: 110px;
      height: 70px;
      margin: 0 auto;
      object-fit: contain;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
.closeout-tools img{
    width:230px;
    height:340px;
    margin:0 auto;
    object-fit:contain;
}

.closeout-tools{
    width:90%;
    margin: 0 auto;
}
   .closeout-tools .slick-prev:before,
   .closeout-tools .slick-next:before {
        color: #fff;
    }
.closeout-tools .slick-prev, .closeout-tools .slick-next{
    background:#d3ba7e;
    border-radius:50px;
    width: 50px;
    height:50px;
}
.closeout-tools .slick-prev{left: -70px;}
.closeout-tools .slick-next{right: -70px;}

.stock-slider{
    width: 100%;
    margin:0 auto;

}
.stock-slider .element-stock{
    background:#f4f3eb;
    width:470px;
    height:300px;
    margin:0 auto;
}
.element-stock img{
    width: 235px;
    height:300px;
    object-fit:contain;
    float:left;
    margin-right:20px;
}
.element-stock p{
    padding:20px 30px;
}
.element-stock p:nth-of-type(1){
    font-size:18px;
    line-height:20px;
    color:#d8424b;
    text-decoration:underline;
}
.element-stock p:nth-of-type(2){
    color:#444444;
    font-size:12px;
    line-height:20px;
}

/*================ end slick======================*/
.title {
    overflow: hidden;
    text-align: center;
    text-decoration:underline;
    color:#503737;
    line-height:20px;
    font-size:16px;
}
.title:before,
.title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    position: relative;
}
.title:before {
    margin-left: -100%;
    left: -14px;
    background: linear-gradient(to right, #fff, #b1a8a8);
}
.title:after {
    margin-right: -100%;
    right: -14px;
    background: linear-gradient(to left, #fff, #b1a8a8);
}

.closeout{
    margin-top:45px;
}
.stock,
.closeout h1{
    color:#503737;
    font-size:  40px;
    line-height:60px;
    text-align:center;
    font-family: 'Roboto-Light';
}
.stock{
    margin:45px 0 30px 0;
}
.service{
    overflow: hidden;
    color:#503737;
    font-size:  40px;
    line-height:60px;
    text-align:center;
    font-family: 'Roboto-Light';

}
.service:before,
.service:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    position: relative;
}
.service:before {
    margin-left: -100%;
    left: -14px;
    background: #d6cbcb;
}
.service:after {
    margin-right: -100%;
    right: -14px;
    background: #d6cbcb;
}
.service-border{
    border-left:1px solid #d6cbcb;
    border-right:1px solid #d6cbcb;
    border-bottom:1px solid #d6cbcb;
    width:100%;
    height: 350px;
    padding:50px 30px 60px 30px;
    margin-top:-26px;
}
/*=====================footer=================*/
footer{
    background:#5d5555;
    margin-top:60px;
    padding:40px 0;
}

footer p, footer a, footer a:hover{
    color:#fff;
    margin-bottom:15px;
}
footer a{
    text-decoration:underline;
    display:block;
}
footer i{
    padding-right:5px;
    font-size:16px;
}


/*============================popup==================================*/
#popup{
    position: fixed;
    z-index: 9999;
    display:none;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.popups_bg{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.8);
    position:fixed;
    z-index:999;
}
.popups{
    width:300px;
    height:400px;
    z-index:999;
    position:fixed;
    top: 15%;
    left: 40%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #af9559, #5d5555);
    box-shadow: 0 10px 27px rgba(19,12,24,1);
    text-align: center;
    color:#d1d1d1;
}
.popups div > p{
    color:#fff;
    font-size:28px;
}
.popups div > h3{
    color:#fff;
    text-align:center;
    margin:20px 0;
}

.popups input[type="submit"]{
    width:170px;
    height:50px;
    border:none;
    outline:0;
    background: #af9559;
    margin: 25px auto;
    border-radius: 5px;
    color: #5d5555;
    transition-duration: .5s;
    transition: background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.formBtn:hover {
  box-shadow: 0 5px 10px rgba(5, 19, 41, 0.94);
  transition: .2s;
  zoom:1.005;

}
.popups input[type="submit"]:hover{
    box-shadow:0 3px 5px #000;
}
.elem-icon-remove{
    left:55%;
    cursor:pointer;
    color:#fff;
}
.manager
{
    background: rgba(76, 175, 80, 0.6);
}
.oshibka
{
    background:red;
}
.error,
.manager
{
    width: 250px;
    color: white;
    text-align: left;
    line-height: 1.5;
    position:fixed;
    top: 2%;
    right: 2%;
    z-index: 10000;
    display: none;
    border-radius: 5px;
    padding: 5px 5px;
}
#remove
{
    position: absolute;
    top: 5%;
    left: 90%;
    cursor: pointer;
}
.ui-input {
  position: relative;
  padding: 0 15px;
  border: 0;
}
.ui-input input {
  border: 0;
  background: none;
  padding: 16px 0 16px 0;
  font-size: 14px;/*1.125rem*/
  outline: 0;
  width: 100%;
  tap-highlight-color: transparent;
  touch-callout: none;
}
.ui-input input + label {
  position: relative;
  display: block;
  padding: 8px 0 8px 0;
  text-transform: uppercase;
  font-size: 14px;/*0.8rem*/
  letter-spacing: .0875em;
  font-weight: 500;
  text-align: left;
}
.ui-input input + label::before, .ui-input input + label::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
}
.ui-input input + label::before {
  background-color: rgba(255, 255, 255, 0.2);
}
.ui-input input + label::after {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #62af59;
  height: 2px;
}
.ui-input input + label span {
  position: relative;
  color: rgba(255, 255, 255, 0.2);
  transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ui-input input + label span::after {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  left: 0;
  transform: scaleX(1);
  white-space: nowrap;
  color: #fff;
  background-image: linear-gradient(to right, #62af59 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 100% 50%;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0);
  transition: background-position 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.ui-input input:focus + label::after,
.ui-input input.error + label::after,
.ui-input input:invalid + label::after,
.ui-input input.filled + label::after {
  transform: scaleX(1);
  transform-origin: left;
}
.ui-input input:focus + label span::after,
.ui-input input.error + label span::after,
.ui-input input:invalid + label span::after,
.ui-input input.filled + label span::after {
  background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 0% 50%;
}

.ui-input input.filled {
  color: #62af59;
}
.ui-input input.filled + label::after {
  background-color: #62af59;
}
.ui-input input.filled + label span::after {
  background-image: linear-gradient(to right, #ffffff 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 0% 50%;
}

.ui-input input:focus {
  color: #62af59;
}
.ui-input input:focus + label::after {
  background-color: #62af59;
}
.ui-input input:focus + label span::after {
  background-image: linear-gradient(to right, #62af59 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 0% 50%;
}

.ui-input input.error,
.ui-input input:invalid {
  color: #E66161;
}
.ui-input input.error + label::after,
.ui-input input:invalid + label::after {
  background-color: #E66161;
}
.ui-input input.error + label span::after,
.ui-input input:invalid + label span::after {
  background-image: linear-gradient(to right, #E66161 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 0% 50%;
}
.open-popups{
    background: none;
    outline: none;
    border: none;
    color: #fff;
    text-decoration: underline;
}
